*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

/* 1. home sec */
.home{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 15%;
}

/* 1.1 nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 24px; 
    margin-left: 10px;
    color: #445964;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #445964;
    font-size: 17px;
    font-weight: bold;
}

/* 1.2 home desc */
.home-detail{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
}

.home-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

span div{
    justify-content: space-around;
}
.description{
    margin-top: 40px;
}

.description h1{
    font-size: 20px;
    color: #445964;
    margin-bottom: 10px;
}

.description p{
    font-size: 40px;
    color: #445964;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;             
    background-color: #263138;       
    color: white;                    
    text-decoration: none;          
    border-radius: 20px;             
    font-size: 16px;                 
    font-weight: bold;               
    text-align: center;   
}

.sosmed a {
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 20px;
    text-decoration: none; 
}

.about_me {
    padding-top: 160px;
    padding-left: 400px;
    padding-right: 400px;
    justify-content: center;
    text-align: center;
    height: 100vh; 
}

.about_me h1{
    padding-top: 20px;
    font-size: 40px;
    color: #445964;
}

.about_me h1 span{
    color: #263138;
}

.about_me p{
    padding-top: 20px;
    color: #445964;
    font-size: 20px;
}