* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* 1. home sec */
.home {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 15%;
}

/* 1.1 nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 24px;
  margin-left: 10px;
  color: #445964;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #445964;
  font-size: 17px;
  font-weight: bold;
}

/* 1.2 home desc */
.home-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  align-items: center;
}

.home-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

span div {
  justify-content: space-around;
}
.description {
  margin-top: 40px;
}

.description h1 {
  font-size: 20px;
  color: #445964;
  margin-bottom: 10px;
}

.description p {
  font-size: 40px;
  color: #445964;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #263138;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.button:hover {
  background-color: #445964;
}

/* About me */
.about_me {
  padding: 160px 400px;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

section > h1 {
  padding-top: 20px;
  font-size: 40px;
}
.dark {
  color: #445964;
}

.dark span {
  color: #263138;
}

.about_me p {
  padding-top: 20px;
  color: #445964;
  font-size: 20px;
}

/* Technologies */
.technologies {
  padding-top: 130px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.light {
  color: #263138;
}

.light span {
  color: #445964;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px;
}

.grid-item {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.grid-item .dark {
  font-size: 22px;
}

.icons {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.icons a {
  display: inline-block;
}

/* Projects */
.projects {
  padding: 80px;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 30px;
}

.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h1 {
  font-size: 24px;
  color: #263138;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  color: #445964;
  margin-bottom: 20px;
}

.button.view-project {
  display: inline-block;
  padding: 10px 20px;
  background-color: #263138;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
}

.button.view-project:hover {
  background-color: #445964;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tag {
  background-color: #445964;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

/* Contact */
.contact {
  padding-top: 120px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  text-align: center;
  height: 86vh;
}

.sosmed {
  padding-top: 30px;
}

.sosmed a {
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 20px;
  text-decoration: none;
}

.contact p {
  padding-top: 5px;
  font-size: 20px;
  color: #445964;
  margin-bottom: 10px;
}


/* Media */
@media (max-width: 768px) {
  .home-detail {
    flex-direction: column;
    text-align: center;
  }

  .home-detail img {
    width: 100%;
  }

  .technologies {
    padding: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr; 
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .about_me {
    padding: 40px 20px;
  }

  .projects-container {
    grid-template-columns: 1fr; 
  }

  .project {
    align-items: center;
    text-align: center;

    margin-bottom: 20px;
  }

  .contact {
    padding: 20px;
  }

  .contact .sosmed {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .home-detail {
    padding: 20px;
  }
  
  .home-desc h1 {
    font-size: 24px;
  }

  .description p {
    font-size: 18px;
  }

  .about_me {
    padding: 20px;
  }

  .grid-container {
    gap: 20px;
  }

  .projects {
    padding: 40px 0px;
  }

  .projects >h1{
    padding-bottom: 30px;
  }

  .projects-container {
    grid-template-columns: 1fr; 
    padding: 0 10px; 
  }

  .project {
    padding: 10px;
  }

  .project img {
    width: 40%;
  }

  .project h1 {
    font-size: 17px;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 13px;
    margin-bottom: 10px;
  }
}
